body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #480400;
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

.hidden {
    display: none;
}

/* Conteúdo da página*/
.container {
    color:#FFF;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1a1a1a;
}

.barra-titulo {
    display: flex;
    height: 50px;
    width: 100%;
    background-color:#1a1a1a;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}
.col-nome {
    width: 60%;
}
.col-valor-unit {
    width: 12%;
}
.col-qtd {
    width: 10%;
}
.col-valor-total {
    width: 12%;
}
.container-carrinho {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 900px;
    height: fit-content;
    padding: 10px;
    margin: 10px;
    background-color: #3e3e3e;
    box-shadow: 2px 3px 6px -2px rgba(0,0,0,.59);
    border: 1px solid #000000;
    border-radius: 5px;
}

.resumo-carrinho {
    justify-content: center;
    min-width: 250px;
    height: fit-content;
    padding: 10px;
    margin: 10px;
    background-color:#3e3e3e;
    box-shadow: 2px 3px 6px -2px rgba(0,0,0,.59);
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
}
.resumo-carrinho button {
    width:250px;
    height:50px;
    border:none;
    border-radius:5px;
    color:#FFF;
    font-size:large;
    background-color: green;
    cursor: pointer;
    transition-duration: 0.5s;
}
.resumo-carrinho button:hover {
    background-color: rgb(0, 170, 0);
}

.card-produto {
    display: flex;
    width: 100%;
    height: 120px;
    border-top: 1px solid #e6ab00;
    border-bottom: 1px solid #e6ab00;
}
.card-produto:hover {
    background-color: #084C61;
    transition-duration: 0.5s;
}

.detalhes-produto {
    display: flex;
}
.img-produto{
    width: 10%;
    margin: auto;
}
.img-produto img{
    max-width: 80%;
}
.nome-prod{
    width: 50%;
    margin: auto;
}
.val-unit{
    width: 12.5%;
    margin: auto;
    text-align: center;
}
.qtde-produto {
    width: 10%;
    margin: auto;
}
.total{
    width: 12.5%;
    margin: auto;
    text-align: center;
    font-weight: bold;
}
.botao-remover{
    width: 5%;
    margin: auto;
}

.aumentar-qtd, .reduzir-qtd{
    height: 32px;
    width: 32px;
    color: #fff;
    background-color: #177E89;
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.remove-prod{
    height: 32px;
    width: 32px;
    border-radius: 5px;
    border:none;
    background-color: #ba0000;
    cursor: pointer;
}
.icone-remover{
    color: #fff;
    font-size: 16px;
}

/* cabeçalho e navegação*/
header {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    background-image: linear-gradient(to right, #000000, #38151d, #6d1f2d, #a42935, #db3a34);    /* border-bottom: solid 2px #FFF200; */
}
.header-container {
    display: flex;
    height: 100%;
    width: 80%;
    min-width: 200px;
    justify-content: flex-start;
    align-items: center;
}
.header-menu {
    display: flex;
    width: 20%;
    justify-content: flex-end;
}
.logo-loja {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 20px;
}
.logo-loja img {
    height: 80px;
}
.linha-decorativa {
    width: 100%;
    height: 2px;
    background-color: #FFC857;
    /* background-image: linear-gradient(to right, #fff200, #e6ab00, #bc6b0b, #853411, #480502);*/
}


/* Propriedades para design responsivo */
@media (max-width: 768px) {
    /* Estilos para telas menores, como tablets e smartphones */
    header {
        height: 75px;
    }
    .logo-loja{
        margin: 0 5px;
    }
    .logo-loja img{
        height: 60px;
    }
    .menu-toggle{
        margin: 0 15px;
    }
    .menu{
        top: 75px;
    }
}

@media (max-width: 480px) {
    /* Estilos para telas ainda menores, como smartphones em modo paisagem */
    header {
        height: 60px;
    }
    .logo-loja{
        margin: 0 5px;
    }
    .logo-loja img{
        height: 45px;
    }
    .menu-toggle{
        margin: 0 15px;
    }
    .menu{
        top: 60px;
    }
}
