/* * {
    box-sizing: content-box;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #480400;
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

.hidden {
    display: none;
}

/* Conteúdo da página*/
.container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1a1a1a;
}
.card {
    width: 250px;
    height: 400px;
    background-color:#3e3e3e;
    box-shadow: 2px 3px 6px -2px rgba(0,0,0,.59);
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    transition-duration: 0.5s;
}
.card:hover {
    /* background-color: #66534e; */
    border: 1px solid #ff2800;
    box-shadow: 2px 3px 6px 2px rgba(0,0,0,.59);
}
.img-prod{
    width: 100%;
    height: 50%;
}
.img-prod img{
    max-height: 90%;
    max-width: 100%;
}
.info-prod {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    height: 40%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.nome-prod {
    font-weight: bold;
    font-size: large;
}
.specs-prod {
    margin-top: 5px;
    font-size: small;
}
.preco-prod {
    font-size: x-large;
    color: #FFF200;
    margin-top: auto;
    margin-bottom: 5px;
    align-content: flex-end;
}
.botao-carrinho {
    width: 100%;
    height: 10%;
}
.botao-carrinho button{
    border-style: none;
    background-color: green;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.5s;
}
.botao-carrinho button:hover {
    background-color: rgb(0, 170, 0);
}
.botao-carrinho i {
    font-size: 20px;
}

/* cabeçalho e navegação*/
header {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    background-image: linear-gradient(to right, #000000, #38151d, #6d1f2d, #a42935, #db3a34);
    /* border-bottom: solid 2px #FFF200; */
}
.header-container {
    display: flex;
    height: 100%;
    width: 80%;
    min-width: 200px;
    justify-content: flex-start;
    align-items: center;
}
.header-menu {
    display: flex;
    width: 20%;
    justify-content: flex-end;
}
.logo-loja {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 20px;
}
.logo-loja img {
    height: 80px;
}
.linha-decorativa {
    width: 100%;
    height: 2px;
    background-color: #FFC857;
    /* background-image: linear-gradient(to right, #fff200, #e6ab00, #bc6b0b, #853411, #480502);*/
}


/* barra de pesquisa */
.buscador {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(75, 75, 75, 0.5);
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
}
.buscador:hover {
    background-color: rgb(75, 75, 75);
}
.search-icon {
    padding-right: 10px; /* Adiciona espaço à direita do ícone de busca */
}
.search-icon i {
    font-size: 20px; /* Redimensiona o ícone de busca */
}
.buscador input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #24b6ff;
    color: white;
    padding: 5px;
    width: 100%;
    outline: none;
}


/* Propriedades para design responsivo */
@media (max-width: 768px) {
    /* Estilos para telas menores, como tablets e smartphones */
    header {
        height: 75px;
    }
    .logo-loja{
        margin: 0 5px;
    }
    .logo-loja img{
        height: 60px;
    }
    .buscador{
        margin: 0 5px;
    }
    .menu-toggle{
        margin: 0 15px;
    }
    .menu{
        top: 75px;
    }
    .card{
        margin: 5px;
        height: 350px;
    }
}

@media (max-width: 480px) {
    /* Estilos para telas ainda menores, como smartphones em modo paisagem */
    header {
        height: 60px;
    }
    .logo-loja{
        margin: 0 5px;
    }
    .logo-loja img{
        height: 45px;
    }
    .buscador{
        margin: 0 5px;
        padding: 5px;
    }
    .menu-toggle{
        margin: 0 15px;
    }
    .menu{
        top: 60px;
    }
    .card{
        margin: 5px;
        height: 300px;
        width: 275px;
    }
    .nome-prod {
        font-size: medium;
    }
}
